#waybar {
	background-color: #060;
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
}

#workspaces {
	padding: 0;
	margin: 0;
}

#clock.date {
	color: #fa0;
}

#clock.time {
	color: #fa0;
	margin-right: 1ex;
}

#workspaces {
	background-color: #444;
	border-right: 0.5px solid #000;
}

#workspaces button {
	border-radius: 0;
	min-height: 0;
	min-width: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #666;
	color: #000;
}

#workspaces button.empty {
	background-color: #333;
	color: #bbb;
}

#workspaces button.visible {
	color: #fff;
	background-color: #060;
}
